margin {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.top {
  height: 30px;
  background-color: black;
  color: white;
}
.top_inner {
  width: 100%;
  max-width: 1040px;
  height: 30px;
  margin: auto;
}
.top_left {
  width: 50%;
  height: 30px;
  float: left;
}
.top_left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top_left li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}
.top_left li a {
  text-decoration: none;
  color: white;
}
.top_left li :active {
  color: blue;
}
.top_left li .ativo {
  color: blue;
}
.top_right {
  width: 50%;
  height: 28px;
  float: right;
  text-align: right;
  margin-top: 2px;
}
.top_search {
  width: 110px;
  height: 20px;
  outline: 0;
}
.top_right a {
  float: right;
}
.top_right input {
  float: right;
}
.top_right img {
  margin-right: 2px;
}

.btn_search {
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 3px;
}

.top_plub {
  height: 95px;
  color: black;
}
.top_plub_inner {
  width: 100%;
  max-width: 1040px;
  height: 95px;
  margin: auto;
}
.logo {
  width: 230px;
  height: 90px;
  float: left;
  margin-top: 5px;
}
.top_plub_inner .banner {
  width: 650px;
  height: 80px;
  float: right;
  margin-top: 7px;
  background-color: red;
}
.menu {
  height: 40px;
  background-color: red;
}
.menu_inner {
  width: 100%;
  height: 40px;
  max-width: 1040px;
  margin: auto;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
.menu li:hover {
  background-color: #ff5555;
}

.menu li:hover .submenu {
  display: block;
}
.menu a {
  color: white;
  text-decoration: none;
}
.submenu {
  width: 150px;
  height: 150px;
  background-color: red;
  position: absolute;
  display: none;
}
.submenu_item {
  width: 140px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}

.submenu_item:hover {
  background-color: #ff5555;
}
.latest_news {
  height: 40px;
}
.latest_news_inner {
  width: 100%;
  height: 4 0px;
  max-width: 1040px;
  margin: auto;
}
.latest_news_area {
  height: 28px;
  background-color: white;
  border: 1px solid gray;
  margin-top: 10px;
}
.latest_news_title {
  background-color: red;
  color: white;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}
.latest_news_news {
  color: black;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding-left: 5px;
}
.container_inner {
  width: 100%;
  max-width: 1040px;
  margin: auto;
}
.container_inner_left_side {
  width: 753px;
  min-height: 200px;
  float: left;
}
.container_inner_right_side {
  width: 275px;
  min-height: 200px;
  float: right;
  margin-left: 12px;
}
.widget{
  border: 1px solid gray;
  background-color: white;
  margin-bottom: 10px;
}
.widget_title{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid gray;
  padding-left: 50px;
  font-size: 14px;
}
.widget_content{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
} 
.news_item{
  font-size: 14px;
  margin: 0px 10px;
  padding: 10px 0px;
  text-align: left;
  border-bottom: 1px solid gray;
}
.news_item a{
  text-decoration: none;
  color: black;
}
